<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MPaySDK-Example.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>8187C5416554E1483D5B451674E20FC6D6465CD9</string>
				<key>dateExpires</key>
				<string>29/03/20</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8187C5416554E1483D5B451674E20FC6D6465CD9</string>
						<key>dateExpires</key>
						<string>29/03/20</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MPaySDK.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XNXHE58JZT</string>
						<key>name</key>
						<string>Sandeep Rana</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>XNXHE58JZT.org.cocoapods.demo.MPaySDK-Example</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>XNXHE58JZT</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>XNXHE58JZT.org.cocoapods.demo.MPaySDK-Example</string>
				</array>
			</dict>
			<key>name</key>
			<string>MPaySDK_Example.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>fae96c50-2e4b-46fb-a61c-b020e5b4c646</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: *</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>XNXHE58JZT</string>
				<key>name</key>
				<string>Sandeep Rana</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
